/*vertical center*/
/*add this class to vertically center the animation within its parent div*/
.center{
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin:auto;
  display: inline-block;
  text-align: center;
}

/*bounce*/
.bounce_hold{
  width:75px;
  height:50px;
}
.bounce{
  background-color: #f15d5e;
  width:10px;
  height: 10px;
  margin:2px;
  margin-top:25px;
  border-radius: 100%;
  float:left;
}
.bounce1{
  animation: bouncer 1.2s 0s infinite;
  -webkit-animation: bouncer 1.2s 0s infinite;
}
.bounce2{
  animation: bouncer 1.2s 0.1s infinite;
  -webkit-animation: bouncer 1.2s 0.1s infinite;
}
.bounce3{
  animation: bouncer 1.2s 0.2s infinite;
  -webkit-animation: bouncer 1.2s 0.2s infinite;
}
.bounce4{
  animation: bouncer 1.2s 0.3s infinite;
  -webkit-animation: bouncer 1.2s 0.3s infinite;
}
.bounce5{
  animation: bouncer 1.2s 0.4s infinite;
  -webkit-animation: bouncer 1.2s 0.4s infinite;
}
@keyframes bouncer {
    0% 100%{
      transform: translateY(0px);
    }
    60%{
      transform: translateY(10px);
    }
    20%{
      transform: translateY(-40px);
    }
}
@-webkit-keyframes bouncer {
    0% 100%{
      -webkit-transform: translateX(0px);
    }
    60%{
      -webkit-transform: translateY(10px);
    }
    20%{
      -webkit-transform: translateY(-40px);
    }
}

/*split*/
.split_basic{
  width:10px;
  height:10px;
  border-radius: 100%;
  background-color: #f15d5e;
  position: relative;
}
.split1{
  animation: a-split1 1s infinite ease-in-out;
  -webkit-animation: a-split1 1s infinite ease-in-out;
  top:5px;
}
.split2{
  animation: a-split2 1s infinite ease-in-out;
  -webkit-animation: a-split2 1s infinite ease-in-out;
  bottom:5px;
}
@keyframes a-split1 {
  23%{
    transform: translateY(-20px);
  }
  46%{
    transform: translateY(-20px) scale(.1);
  }
  70%{
    transform: translateY(0px) scale(1);
  }
  80%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes a-split2 {
  23%{
    transform: translateY(20px);
  }
  46%{
    transform: translateY(20px) scale(.1);
  }
  70%{
    transform: translateY(0px) scale(1);
  }
  80%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes a-split1 {
  23%{
    -webkit-transform: translateY(-20px);
  }
  46%{
    -webkit-transform: translateY(-20px) scale(.1);
  }
  70%{
    -webkit-transform: translateY(0px) scale(1);
  }
  80%{
    -webkit-transform: scale(3);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes a-split2 {
  23%{
    -webkit-transform: translateY(20px);
  }
  46%{
    -webkit-transform: translateY(20px) scale(.1);
  }
  70%{
    -webkit-transform: translateY(0px) scale(1);
  }
  80%{
    -webkit-transform: scale(3);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

/*rotate*/
.rotate{
  width:40px;
  height: 40px;
  position: relative;
  background-color: #f15d5e;
  animation: rotate_anim 1s infinite ease-in-out;
  -webkit-animation: rotate_anim 1s infinite ease-in-out;
}
@keyframes rotate_anim{
  0% 100%{
    transform: scale(1);
  }
  15%{
    transform: scale(1.1) rotate(10deg);
  }
  30%{
    transform: rotate(60deg);
  }
  60%{
    border-radius: 100%;
    transform: scale(0.80);
  }
}
@-webkit-keyframes rotate_anim{
  0% 100%{
    -webkit-transform: scale(1);
  }
  15%{
    -webkit-transform: scale(1.1) rotate(10deg);
  }
  30%{
    -webkit-transform: rotate(60deg);
  }
  60%{
    border-radius: 100%;
    -webkit-transform: scale(0.80);
  }
}

/*falling*/
.fall_hold{
  position: relative;
  width:100px;
  height: 100px;
}
.fall{
  width:12px;
  height: 12px;
  margin:10px;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
  background-color: #f15d5e;
}
.v1{
  animation: fall_anim 2s infinite linear;
  -webkit-animation: fall_anim 2s infinite linear;
}
.v2{
  animation: fall_anim 2s 0.5s infinite linear;
  -webkit-animation: fall_anim 2s 0.5s infinite linear;
}
.v3{
  animation: fall_anim 2s 1s infinite linear;
  -webkit-animation: fall_anim 2s 1s infinite linear;
}
.v4{
  animation: fall_anim 2s 1.5s infinite linear;
  -webkit-animation: fall_anim 2s 1.5s infinite linear;
}

@keyframes fall_anim{
  0%{
    opacity: 0;
  }
  6.25%{opacity: 1;}
  12.5%{transform: translate(10px, 50px);opacity: 1;}
  18.75%{transform: translate(15px, 20px);opacity: 1;}
  25%{transform: translate(20px, 10px) scale(.9);opacity: 1;}
  31.25%{transform: translate(25px, 15px) scale(.9);opacity: 1;}
  37.5%{transform: translate(30px, 50px) scale(.9);opacity: 1;}
  43.75%{transform: translate(35px, 30px) scale(.9);opacity: 1;}
  50%{transform: translate(40px, 20px) scale(.8);opacity: 1;}
  56.25%{transform: translate(45px, 30px) scale(.8);opacity: 1;}
  62.5%{transform: translate(50px, 50px) scale(.8);opacity: 1;}
  68.75%{transform: translate(55px, 35px) scale(.8);opacity: 1;}
  75%{transform: translate(60px, 40px) scale(.7);opacity: 1;}
  81.25%{transform: translate(65px, 35px) scale(.7);opacity: 1;}
  87.5%{transform: translate(70px, 50px) scale(.7);opacity: 1;}
  93.75%{transform: translate(75px, 75px) scale(.7);opacity: 0;}
  100%{
    transform: translate(80px, 80px)  scale(.4);
    opacity: 0
  }
}
@-webkit-keyframes fall_anim{
  0%{
    opacity: 0;
  }
  6.25%{opacity: 1;}
  12.5%{-webkit-transform: translate(10px, 50px);opacity: 1;}
  18.75%{-webkit-transform: translate(15px, 20px);opacity: 1;}
  25%{-webkit-transform: translate(20px, 10px) scale(.9);opacity: 1;}
  31.25%{-webkit-transform: translate(25px, 15px) scale(.9);opacity: 1;}
  37.5%{-webkit-transform: translate(30px, 50px) scale(.9);opacity: 1;}
  43.75%{-webkit-transform: translate(35px, 30px) scale(.9);opacity: 1;}
  50%{-webkit-transform: translate(40px, 20px) scale(.8);opacity: 1;}
  56.25%{-webkit-transform: translate(45px, 30px) scale(.8);opacity: 1;}
  62.5%{-webkit-transform: translate(50px, 50px) scale(.8);opacity: 1;}
  68.75%{-webkit-transform: translate(55px, 35px) scale(.8);opacity: 1;}
  75%{-webkit-transform: translate(60px, 40px) scale(.7);opacity: 1;}
  81.25%{-webkit-transform: translate(65px, 35px) scale(.7);opacity: 1;}
  87.5%{-webkit-transform: translate(70px, 50px) scale(.7);opacity: 1;}
  93.75%{-webkit-transform: translate(75px, 75px) scale(.7);opacity: 0;}
  100%{
    -webkit-transform: translate(80px, 80px)  scale(.4);
    opacity: 0
  }
}

/*smash*/
.smash_hold{
  width:10px;
  height: 20px;
  margin: auto;
}
.smash_base{
    width:10px;
    height: 10px;
    opacity: 1;
    border-radius: 100%;
    background-color: #f15d5e;
    margin:auto;
}
.smash1{
  animation: smash_anim 1.1s infinite linear;
  -webkit-animation: smash_anim 1.1s infinite linear;
}
.smash2{
  animation: smash_anim_2 1.1s infinite linear;
  -webkit-animation: smash_anim_2 1.1s infinite linear;
}
@keyframes smash_anim{
  0%{opacity: 0;transform: translate(0px,50px);}
  8.33%{opacity: 1;transform: translate(0px,45px);}
  11.67%{opacity: 1;transform: translate(5px,40px);}
  21%{opacity: 1;transform: translate(10px,35px);}
  30.3%{opacity: 1;transform: translate(20px,30px);}
  41.67%{opacity: 1;transform: translate(25px,20px);}
  45.5{opacity: 1;transform: translate(20px,13px);}
  50%{opacity: 1;transform: translate(14px,10px);}
  58.33%{opacity: 1;transform: translate(8px,0px);}
  66.67%{opacity: 1;transform: translate(0px,0px) scale(3);}
  75%{opacity: 1;transform: translate(0px,5px) scale(0.5);}
  83.3%{opacity: 1;transform: translate(0px,5px) scale(1.5);}
  91.67%{opacity: 1;transform: translate(20px,5px) ;}
  100%{opacity: 0;transform: translate(40px,5px) scale(0.2);}
}
@keyframes smash_anim_2{
  0%{opacity: 0;transform: translate(0px,-50px);}
  8.33%{opacity: 1;transform: translate(0px,-45px);}
  11.67%{opacity: 1;transform: translate(-5px,-40px);}
  21%{opacity: 1;transform: translate(-10px,-35px);}
  30.3%{opacity: 1;transform: translate(-20px,-30px);}
  41.67%{opacity: 1;transform: translate(-25px,-20px);}
  45.5{opacity: 1;transform: translate(-20px,-13px);}
  50%{opacity: 1;transform: translate(-14px,-10px);}
  58.33%{opacity: 1;transform: translate(-8px,0px);}
  66.67%{opacity: 1;transform: translate(0px,0px) scale(3);}
  75%{opacity: 1;transform: translate(0px,-5px) scale(0.5);}
  83.3%{opacity: 1;transform: translate(0px,-5px) scale(1.5);}
  91.67%{opacity: 1;transform: translate(-20px,-5px) ;}
  100%{opacity: 0;transform: translate(-40px,-5px) scale(0.2);}
}
@-webkit-keyframes smash_anim{
  0%{opacity: 0;-webkit-transform: translate(0px,50px);}
  8.33%{opacity: 1;-webkit-transform: translate(0px,45px);}
  11.67%{opacity: 1;-webkit-transform: translate(5px,40px);}
  21%{opacity: 1;-webkit-transform: translate(10px,35px);}
  30.3%{opacity: 1;-webkit-transform: translate(20px,30px);}
  41.67%{opacity: 1;-webkit-transform: translate(25px,20px);}
  45.5{opacity: 1;-webkit-transform: translate(20px,13px);}
  50%{opacity: 1;-webkit-transform: translate(14px,10px);}
  58.33%{opacity: 1;-webkit-transform: translate(8px,0px);}
  66.67%{opacity: 1;-webkit-transform: translate(0px,0px) scale(3);}
  75%{opacity: 1;-webkit-transform: translate(0px,5px) scale(0.5);}
  83.3%{opacity: 1;-webkit-transform: translate(0px,5px) scale(1.5);}
  91.67%{opacity: 1;-webkit-transform: translate(20px,5px) ;}
  100%{opacity: 0;-webkit-transform: translate(40px,5px) scale(0.2);}
}
@-webkit-keyframes smash_anim_2{
  0%{opacity: 0;-webkit-transform: translate(0px,-50px);}
  8.33%{opacity: 1;-webkit-transform: translate(0px,-45px);}
  11.67%{opacity: 1;-webkit-transform: translate(-5px,-40px);}
  21%{opacity: 1;-webkit-transform: translate(-10px,-35px);}
  30.3%{opacity: 1;-webkit-transform: translate(-20px,-30px);}
  41.67%{opacity: 1;-webkit-transform: translate(-25px,-20px);}
  45.5{opacity: 1;-webkit-transform: translate(-20px,-13px);}
  50%{opacity: 1;-webkit-transform: translate(-14px,-10px);}
  58.33%{opacity: 1;-webkit-transform: translate(-8px,0px);}
  66.67%{opacity: 1;-webkit-transform: translate(0px,0px) scale(3);}
  75%{opacity: 1;-webkit-transform: translate(0px,-5px) scale(0.5);}
  83.3%{opacity: 1;-webkit-transform: translate(0px,-5px) scale(1.5);}
  91.67%{opacity: 1;-webkit-transform: translate(-20px,-5px) ;}
  100%{opacity: 0;-webkit-transform: translate(-40px,-5px) scale(0.2);}
}

/*loading bar*/
.loading_hold{
  width:77px;
  height: 20px;
  display: inline-block;
  margin: auto;
}
.loading{
  width: 10px;
  height: 10px;
  margin: 2.5px;
  float:left;
  border-radius: 100%;
  background-color: #f15d5e;
  animation: loading_anim 1.5s infinite ease-in-out;
  -webkit-animation: loading_anim 1.5s infinite ease-in-out;
}
.load2{
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
}
.load3{
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
.load4{
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
.load5{
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.load6{
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
@keyframes loading_anim {
  0%, 100%{
    transform: scale(1);
  }
  10%{
    transform: scale(1.5);
  }
  18%{
    transform: scale(0.8);
  }
  20%{
    transform: scale(1);
  }
}
@-webkit-keyframes loading_anim {
  0%, 100%{
    -webkit-transform: scale(1);
  }
  10%{
    -webkit-transform: scale(1.5);
  }
  18%{
    -webkit-transform: scale(0.8);
  }
  20%{
    -webkit-transform: scale(1);
  }
}
